body{
    background-image: url("../images/pink-background-gif-4.gif");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 100%;
}
.jumbotron{
   color: #ff3385;
   background-color: black;
   margin: 20px 215px;
   padding: 25px;
  background-size: 300px 100px;
  border-radius: 50px;
}
.center{
    text-align: center;
}
#time{
    font-size: 35pt;
}
#title{
    font-size: 25pt;
    font-style: oblique;
    text-shadow: 3px 3px #ffffe6;

}
#timer{
    font-size: 20pt;
}
#choice{
    font-size: 15pt;
}
.btn-start{
    position: relative;
    margin-left: 500px;
}
.btn-group-vertical{
    position: relative;
    margin-left: 730px;
}
#question-here{
    font-size: 35pt;
    color:rgb(11, 19, 129);
    outline-color: hotpink 15px;
    color:blue;
    text-align: center;
}
#button-choices{
    display: none;
    border: #ff3385 solid 1px;
   margin-left: 37%;
   width: 25%;
}
#button-choices button{
    border: #ff3385 solid 1px;
}
#score{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 368px;
    color:  hotpink;
    border-radius: 5px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#score-correct{
    font-size: 30pt;
    border: solid black 3px;
    background: opacity 0.5;
}
#score-incorrect{
    font-size: 28pt;
    border: solid black 3px;
}